.front{
    
    background-size: cover;
}

.title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(2, 2, 41);
}

.cardtitle{
    font-size: 120px;
    height: 30px;
    font: bold;
}
.tem{
    font-size: 50px;  
}

.cardview{
    margin-top: 30px;
    margin-left: 350px;
    font-family: 'Times New Roman', Times, serif;
   color: black;
   font: bold;
   
    

}